.container {
  padding: 12rem 4rem;
  background: url("components/Order/cocoa-pod.svg") top right no-repeat;
  background-color: #FFF59D;
}

.header {
  margin: 0 auto 4rem auto;
  max-width: 72rem;
  text-align: center;
}

.heading {
  position: relative;
  display: inline-block;
  color: #212121;
  font-size: 4.5rem;

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 1.2rem;
    background-color: #FDD835;
    content: "";
  }
}

.subHeading {
  margin-top: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;

  strong {
    font-weight: 900;
  }
}

.form {
  display: block;
  margin: 0 auto;
  max-width: 66rem;
}

.item {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: solid 0.2rem #FBC02D;
}

.title {
  display: block;
  flex: 1;
  color: #F57F17;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.price {
  margin-left: 4rem;
  flex: 0 0 9rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quantity {
  margin-left: 4rem;
  flex: 0 0 9rem;
}

.input {
  display: block;
  padding: 1.2rem 0.8rem;
  width: 100%;
  background: #fff;
  color: #212121;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.4rem;

  &::placeholder {
    color: #BDBDBD;
  }
}

.email {
  display: block;
  margin-top: 4rem;
  padding: 1.5rem;
  width: 100%;
  background: #fff;
  color: #212121;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.4rem;

  &::placeholder {
    color: #BDBDBD;
  }
}

.cta {
  margin-top: 1rem;
}

.button {
  display: block;
  padding: 1.5rem 3rem;
  width: 100%;
  color: #fff;
  background-color: #F57F17;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0.4rem;
}
