.cta,
.img {
  grid-column: 1 / -1;
}

.cta {
  position: relative;
  display: flex;
  align-items: center;
  order: 2;
  padding: var(--gutter45) var(--gutter20);
  background-color: #fff;
  text-align: center;

  @media (--xs-up) {
    padding: var(--gutter60) var(--gutter20);
  }

  @media (--medium-up) {
    grid-column: 7 / -1;
    padding: 0 var(--gutter20);
    text-align: left;
  }
}

.title {
  margin: 0 0 var(--gutter20) 0;
  font-size: var(--fontSize42);

  @media (--small-up) {
    margin: 0 0 var(--gutter30) 0;
  }

  @media (--large-up) {
    font-size: var(--fontSize42);
  }

  @media (--xlarge-up) {
    font-size: var(--fontSize50);
  }
}

.description {
  margin: 0;
  font-size: var(--fontSize20);

  @media (--medium-up) {
    font-size: var(--fontSize18);
  }

  @media (--large-up) {
    font-size: var(--fontSize20);
  }

  @media (--xlarge-up) {
    font-size: var(--fontSize22);
  }
}

.img {
  order: 1;

  @media (--medium-up) {
    grid-column: 1 / 7;
    max-height: none;
  }
}

.img img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;

  @media (--medium-up) {
    transform: none;
  }
}

.button {
  margin-top: var(--gutter20);

  @media (--large-up) {
    margin-top: var(--gutter30);
  }

  @media (--xlarge-up) {
    margin-top: var(--gutter45);
  }
}
