/**
 * Button
 */

.button {
}

.button:focus {
  outline: none;
}

.button:disabled,
.button.disabled {
  cursor: not-allowed;
}

/**
 * Button themed defaults
 */

.button.themed {
  display: inline-block;
  padding: var(--gutter10) var(--gutter20);
  min-width: 12.5rem;
  font-family: var(--fontSecondary);
  font-size: var(--fontSize16);
  font-weight: 700;
  line-height: var(--lineHeightStandard);
  color: var(--color);
  background-color: var(--backgroundColor);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px var(--boxShadow);
  transition: box-shadow 0.1s, transform 0.1s;
}

.button.themed:hover {
  box-shadow: 0px 10px 25px var(--boxShadow);
  transform: translateY(-2px);
}

/**
 * Button displays
 */

.button.display-block {
  display: block;
}

.button.display-inlineBlock {
  display: inline-block;
}

/**
 * Button appearances
 */

.button.appearance-default,
.button.appearance-primary,
.button.appearance-secondary {
  &:hover:not(.disabled) {
  }

  &:active:not(.disabled) {
  }
}

.button.appearance-default {
  --color: var(--colorNeutral900);
  --backgroundColor: var(--colorWhite);
  --boxShadow: rgba(0, 0, 0, 0.4);
}

.button.appearance-primary {
  --color: var(--colorWhite);
  --backgroundColor: var(--colorPrimary500);
  --boxShadow: var(--colorPrimary300);
}

.button.appearance-primaryReverse {
  --color: var(--colorPrimary500);
  --backgroundColor: var(--colorWhite);
  --boxShadow: var(--colorPrimary900);
}

/**
 * Button widths
 */

.button.width-default {}

.button.width-shrink {
  min-width: 0;
  width: fit-content;
}

.button.width-fill {
  display: block;
  width: 100%;
  min-width: auto;
}

/**
 * Button sizes
 */

.button.size-sm {
  padding: var(--gutter10) var(--gutter20);
  font-size: var(--fontSize16);
}

.button.size-md {
  padding: var(--gutter15) var(--gutter30);
  font-size: var(--fontSize18);
}

.button.size-lg {
  padding: var(--gutter20) var(--gutter45);
  font-size: var(--fontSize20);
}
