:root {
  --colorWhite: #fff;
  --colorBlack: #000;

  --colorNeutral900: #1a151e;
  --colorNeutral700: #41364a;
  --colorNeutral500: #725e82;
  --colorNeutral300: #a292b0;
  --colorNeutral100: #d4cddb;
  --colorNeutral50: #f2f0f4;

  --colorPrimary900: #480e77;
  --colorPrimary700: #6a23a4;
  --colorPrimary500: #964ecf;
  --colorPrimary300: #c78df6;
  --colorPrimary100: #daadff;

  --colorSecondary900: #a88900;
  --colorSecondary700: #f0c505;
  --colorSecondary500: #f9dc5c;
  --colorSecondary300: #ffed9e;
  --colorSecondary100: #fff7d1;
}
