:root {
  --colorWhite: #fff;
  --colorBlack: #000;

  --colorNeutral900: #1a151e;
  --colorNeutral700: #41364a;
  --colorNeutral500: #725e82;
  --colorNeutral300: #a292b0;
  --colorNeutral100: #d4cddb;
  --colorNeutral50: #f2f0f4;

  --colorPrimary900: #4F0F19;
  --colorPrimary700: #701524;
  --colorPrimary500: #9B1E33;
  --colorPrimary300: #CE2F4A;
  --colorPrimary100: #EA5971;

  --colorSecondary900: #00492D;
  --colorSecondary700: #006D43;
  --colorSecondary500: #00935B;
  --colorSecondary300: #0DBF7B;
  --colorSecondary100: #28E099;
}
