.hero {
  --spacerWidth: 6rem;
  --colWidth: calc(50% - var(--spacerWidth)/2);

  display: grid;
  grid-template-columns: var(--colWidth) var(--spacerWidth) var(--colWidth);
  width: 100vw;
  min-width: 0;
  min-height: 90vh;
}

.hero-section {
}

.hero-section--content,
.hero-section--image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section--content {
  background-color: #fff;
}

.hero-section--image {
  background-color: #00a85d;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 24rem;
    height: auto;
  }
}

.hero-section--spacer {
  margin-right: -0.1rem;
  background-color: #00a85d;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
}

.hero-content {
  width: 100%;
  padding: 12rem 4rem;
}

.hero-note {
  color: #9E9E9E;
  font-size: 2.8rem;
  font-weight: 400;
  font-style: italic;

  strong {
    position: relative;
    display: inline-block;
    font-weight: 900;
    font-style: normal;

    span {
      position: relative;
      z-index: 2;
    }

    &::after {
      position: absolute;
      top: 85%;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 0.4rem;
      background-color: #FDD835;
      border-radius: 0.4rem;
      content: "";
    }
  }
}

.gallery {
  display: grid;
  padding: 2rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 0.4rem;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.025);
  }
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
}
