/**
 * header wrapper
 */

.header {
  position: relative;
  padding: var(--gutter10) 0;
}

/**
 * logo
 */

.logoWrapper {
  grid-column: 1 / 7;
  margin: 0;
  padding: 0;

  @media (--small-up) {
    grid-column: 2 / 7;
  }
}

.logo {
  display: block;
  width: 12rem;

  @media (--xs-up) {
    width: 15rem;
  }

  @media (--small-up) {
    width: 18rem;
  }
}

/**
 * description
 */

.description {
  color: var(--colorNeutral500);
  font-size: var(--fontSize14);
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 0.4px;
}

/**
 * navigation
 */

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  padding: var(--gutter4) var(--gutter15);
  width: 100%;
  background-color: #fff;
}

.nav.active {
  display: block;
}

@media (--medium-up) {
  .nav {
    background: none;
  }

  .nav,
  .nav.active {
    position: static;
    display: flex;
    justify-content: flex-end;
    grid-column: -2 / 7;
    padding: 0;
    width: auto;
    background: none;
  }
}

.link {
  position: relative;
  display: block;
  margin-bottom: var(--gutter4);
  padding: var(--gutter4) var(--gutter12);
  width: 100%;
  color: var(--colorNeutral900);
  font-weight: 300;
  text-align: center;
  border-radius: 0.5rem;
}

.link:last-chid {
  margin-bottom: 0;
}

.link:hover {
  color: #fff;
  background-color: var(--colorSecondary500);
}

.link.active {
  color: #fff;
  background-color: var(--colorSecondary500);
}

@media (--medium-up) {
  .link {
    margin-bottom: 0;
    margin-left: var(--gutter20);
    width: auto;
    text-align: left;
  }

  .link:first-child {
    margin-left: 0;
  }
}

/**
 * nav toggle
 */

.toggleWrapper {
  grid-column: -1 / 7;
  justify-self: end;

  @media (--small-up) {
    grid-column: -2 / 7;
  }

  @media (--medium-up) {
    display: none;
  }
}

.toggle {
  width: 2.4rem;
  height: 2.4rem;

  @media (--small-up) {
    width: 3rem;
    height: 3rem;
  }
}
